<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.simolutions.org/nonmem/NMCtl"
			class = "org.simolutions.nonmem.nMCtl.NMCtlPackage"
			genModel = "model/generated/NMCtl.genmodel" />
	</extension>
</plugin>
